@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap');

:root {
    --ff-1: 'Crimson Pro', serif;
    --ff-2: 'Lora', serif;
    --ff-3: 'Montserrat', sans-serif;
    --backgroun: #181719;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body,
html {
    height: 100vh;
    background-color: var(--backgroun);
    overflow: hidden;
}

.main {
    max-width: 600px;
    min-height: calc(99vh - 30px);
    /* centra con margin */
    margin-inline: auto;
    padding: 0 10px;
    color: #fff;
}



/*************/
/* HEADER */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-top: 10px;
}

.btn-mobile{
    background-color: transparent;
    border: none;
    color: #fff;
    position: relative;
}

.open .nav-links {
    background-color: var(--backgroun);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.open .icon-memu{
    display: none;
    visibility: hidden;
}

.open .icon-close{
    display: block;
    position: absolute;
    z-index: 200;
    top: 0;
}

.nav-links{
    display: none;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;

}
.item{
    list-style: none;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
}
.item:first-child{
    font-weight: 700;
    border-bottom: 1px solid #fff;
    padding-bottom: 2px;
}

.icon {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.icon-close{
    display: none;
}

.button {
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--ff-1);
    font-weight: 200;
    font-size: 14px;
    color: #fff;
    padding: 8px;
    border: 1px solid #fff;
}

/*************/
/* INFO SECTION */
.info {
    /* margin: 20px 0; */
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title {
    font-family: var(--ff-2);
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
}

.text {
    font-family: var(--ff-3);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    height: 85px;
    padding-right: 37px;
    margin-top: 25px;
}

.read-more {
    display: inline-block;
    /* margin: 25px 0; */
    color: #fff;
    text-decoration: none;
}

/*************/
/* DESING SECTION  */
.design{
    display: flex;
    position: relative;
}

.img {
    width: 100%;
    height: 100%;
}

.designer{
    width: 300px;
    height: 138px;
    padding-left: 19px;
    position: absolute;
    right: 15px;
    bottom: -83px;
    /* right: 50%;
    left: 20%;
    bottom: 0; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* right: 0; */

    background-color: var(--backgroun);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.desiner-info--container{
    display: flex;
    align-items: center;
}

.designer-img{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    margin-right: 15px;
}

.name{
    font-family: var(--ff-3);
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.position{
    font-family: var(--ff-3);
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #828282;
}

.design-title{
    font-family: var(--ff-2);
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}
/*************/
/* FOOTER */
.footer{
    text-align: center;
    color: #A9A9A9;
    font-weight: 500;
    height: 30px;
}

.footer a{
    color: inherit;
    text-decoration: none;
    padding-bottom: 4px;
}

.footer a:hover{
    border-bottom: 1px solid #A9A9A9;
}

/*************/

/* Media Queries */

@media (max-width: 330px){
    .info{
        height: auto;
        gap: 20px;
    }
    .info-main{
        gap: 10px;
        display: flex;
        flex-direction: column;
    }
    .title{
        font-size: 30px;
    }
    .text{
        padding-right: 0;
        margin: 0;
        font-size: 12px;
        height: auto;
    }
    .design{
        flex-direction: column;
        gap: 15px;
        margin-top: 30px;
    }
    .designer{
        position: initial;
        width: 100%;
    }
    .footer{
        /* font-size: 10px; */
        width: 100%;
    }
}

@media (max-width:450px){
    .main{
        max-width: 345px;
    }
}

@media (min-width:820px){
    .btn-mobile{
        display: none;
    }
    .main{
        max-width: 100%;
        padding: 0 70px;
        display: grid;
        grid-template-rows: max-content auto;
    }
    .flex{

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .info{
        gap: 20px;
    }
    .text{
        height: auto;
        font-size: 24px;
        line-height: 30px;
    }
    .title{
        font-size: 48px;
    }
    .read-more{
        font-size: 20px;
    }
    .icon{
        display: none;
    }
    .nav-links{
        display: block;
        width: 40%;
        
    }
    .links{
        flex-direction: row;
        justify-content: space-between;
    }
    
}

@media (min-width:1262px){
    .text{
        width: 500px;
    }
    .img{
        max-width: 737px;
    }
    .designer{
        width: 410px;
        height: 189px;
        bottom: -116px;
        right: 35px;
    }
    .designer-img{
        height: 50px;
        width: 50px;
    }
    .name{
        font-size: 14px;
        line-height: 17px;
    }
    .position{
        font-size: 12px;
        line-height: 15px;
        margin-top: 7px;
    }
    .design-title{
        font-size: 24px;
        line-height: 31px;
    }
}